.document-content 
    @include in-page-with-sidebar
        // .toc-container
        //     // TODO mettre à droite (inverser les colonnes)
        //     display: none
        // @include media-breakpoint-up(desktop)
        //     .block 
        //         .block-content
        //             padding-left: 0

.organization .media,
.organizations__page .document-content .logo picture
    background: #FFFFFF

@include media-breakpoint-up(desktop)
    .hero--image-portrait, 
    .hero--image-square
        .content
            > h1, > hgroup
                width: columns(8)
            figure
                width: columns(4)

.pages__section,
.posts__section,
.page__home
    .hero--image-portrait, 
    .hero--image-square
        .content
            figure
                img
                    aspect-ratio: 4/3
                    object-fit: cover
.organizations__section
    .organization
        h2
            @include meta
.block-pages
    .grid,
    .cards
        article 
            .media 
                img
                    aspect-ratio: 4/3
.block-datatable
    table 
        tbody 
            td, 
            th
                min-width: 300px

footer#document-footer
    margin-top: $spacing-6
    .container
        justify-content: end
        text-align: end
        *
            padding-right: 0 !important
