header#document-header
    @include media-breakpoint-up(desktop)
        .container
            flex-direction: column
            .logo
                margin: 10px 0 30px
                
footer#document-footer
    margin-top: $spacing4
    .container
        justify-content: center
        text-align: center
        @include media-breakpoint-up(desktop)
            ul
                li
                    display: inline-block
                    padding: $spacing1